<!DOCTYPE html>
<html>
    <head>
        <title>
       404
    </title>
    <link rel="icon" href=" /img/weather-forecast-img.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>headers}}
       <p>{{errormessage}}</p>
        </div>
      
       {{>footers}} 
       
    </body>
</html>